<template name="Header">
    <nav class="blue main-nav-bar">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo text-style"><b>Belenios RF+</b></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{#if currentUser}}
                    <li class="nav-item">
                        <a href="/dashboard" class="text-style"><b>DASHBOARD</b></a>
                    </li>
                    <li class="nav-item">
                        <a href="/create" class="text-style"><b>CREATE</b></a>
                    </li>
                    <li class="nav-item">
                        <a href="/vote" class="text-style"><b>VOTE</b></a>
                    </li>
                    <li class="nav-item">
                        <a href="/results" class="text-style"><b>RESULTS</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="waves-effect waves-light btn modal-trigger light-green nav-btn" href="/sign">Settings</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="waves-effect waves-light btn modal-trigger light-green nav-btn" href="/sign">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>
