<template name="Header">
    <nav class="light-red main-nav-bar">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"><b>Mighty Meteor</b></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-item">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="waves-effect waves-light btn modal-trigger light-blue nav-btn" href="/sign">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
